
@import './styles/variables.module.scss';

.screenHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.screenTitle {
    color: #fff;
    font-size: 24/16+rem;
    font-weight: 200;
}

.empty {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
}

.icon {
    border-radius: 100%;
}

.title {
    color: #fff;
    font-size: 18/16+rem;
    font-weight: 200;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.primary-action {
}

.separator {
    color: $light-gray;
    margin: 1.7rem;
}

.secondary-action {
}
