@import '../../styles/variables.module.scss';

$card-border-radius: 3px;
$card-border-size: 1px;
$small-spacing: 3px;

// Compose classes

.lightText {
  color: $color-contrast-3;
  font-weight: 200;
  font-size: 14/16+rem;
}

.textMono {
  font-family: $typeface-secondary;
  color: $color-contrast-2;
  letter-spacing: -0.5px;
  font-size: 13/16 +rem;
}

.line {
  margin-bottom: $small-spacing;
}

// Elements classes

.card {
  margin-top: 3rem;
  position: relative;
  background-color: $color-base-4;
  border-radius: $card-border-radius;
  border: $card-border-size solid rgba($color-contrast-4, .04);
  color: $color-contrast-1;
  padding: 12/16+rem 22/16+rem;
  display: flex;

  > * {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
}

.status {
  display: block;
  position: absolute;
  left: -$card-border-size;
  top: -$card-border-size;
  bottom: -$card-border-size;
  width: 6px;
  background-color: $color-success;
  border-radius: $card-border-radius 0 0 $card-border-radius;
}

.optionsMenu {
  position: absolute;
  right: 2px;
  top: 4px;
  border: 0;
  background-color: transparent;
}

.title {
  font-size: 18/16 + rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 0.3rem;
}

.botDetailsLine {
  margin-bottom: 20px;
}

.baseAssetLine {
  composes: line;
}

.quoteAssetLine {
}

.notificationsLine {
  composes: line;
  flex-grow: 1;
}

.spreadLine {
  composes: line;
}

.bidsLine {
  composes: line;
}

.asksLine {
}

.secondColumn {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.thirdColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fourthColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.netTag {
  font-size: 9/16+rem;
  text-transform: uppercase;
  background-color: $color-tag-test;
  padding: 3px 6px 2px 6px;
  border-radius: 20px;
  text-shadow: 0 0.5 0 rgba($color-base-1, 20%);
  margin-right: 10px;
}

.exchange {
  font-size: 14/16+rem;
}


.chartThumb {
  max-width: 170px;
}

.infoIcon {
  display: inline-block;
  background-color: rgba($color-contrast-4, 0.25);
  width: 13px;
  height: 13px;
  border-radius: 20px;

   img {
      padding: 0px 2px;
   }
}

.statusDetails {
  margin-bottom: 1rem;
}

.runningIcon {
  display: inline-block;
  border: 1px solid $color-success;
  width: 9px;
  height: 9px;
  border-radius: 30px;
  margin-right: 7px;
}

.runningTime {
  font-family: $typeface-secondary;
  font-size: 11/16 +rem;
  color: $color-success;
}


.startStopButton {
  composes: button from  '../Button/Button.module.scss';

  img {
      display: block;
  }

  background-color: $color-base-2;
  
}