@import '../../_settings/variables.module.scss';

$card-border-radius: 3px;
$card-border-size: 1px;
$small-spacing: 3px;

// Compose classes

.lightText {
  color: $color-contrast-3;
  font-weight: 200;
  font-size: 14/16+rem;
}

.textMono {
  font-family: $typeface-secondary;
  color: $color-contrast-2;
  letter-spacing: -0.5px;
  font-size: 13/16 +rem;
}

.line {
  margin-bottom: $small-spacing;
}

// Elements classes

.card {
  margin-top: 1.5rem;
  position: relative;
  background-color: $color-base-4;
  border-radius: $card-border-radius;
  border: $card-border-size solid rgba($color-contrast-4, .04);
  color: $color-contrast-1;
  padding: 12/16+rem 22/16+rem;
  display: flex;
}

._status {
  display: block;
  position: absolute;
  left: -$card-border-size;
  top: -$card-border-size;
  bottom: -$card-border-size;
  width: 6px;
  border-radius: $card-border-radius 0 0 $card-border-radius;
  transition: background-color 0.3s ease-out;
}

.statusRunning {
  composes: _status;
  background-color: $color-success;
}

.statusStopped {
  composes: _status;
  background-color: $color-error;
}

.optionsMenu {
  position: absolute;
  right: 2px;
  top: 4px;
  border: 0;
  background-color: transparent;
}

.title {
  font-size: 18/16 + rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 0.3rem;
}

.botDetailsLine {
  margin-bottom: 20px;
}

.baseAssetLine {
  composes: line;
}

.quoteAssetLine {
}

.notificationsLine {
  composes: line;
  flex-grow: 1;
}

.spreadLine {
  composes: line;
}

.bidsLine {
  composes: line;
}

.asksLine {
}

._column {
  display: flex;
  flex-direction: column;
}

.firstColumn {
  composes: _column;
  width: 35%;
}

.secondColumn {
  composes: _column;
  width: 25%;
  align-self: stretch;
}

.thirdColumn {
  composes: _column;
  width: 20%;
  justify-content: center;
}

.fourthColumn {
  composes: _column;
  width: 20%;
  align-items: center;
  justify-content: center;

  > * {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.exchange {
  font-size: 14/16+rem;
}


.chartThumb {
  max-width: 170px;
}


.statusDetails {
  margin-bottom: 1rem;
}