@import '../../_settings/variables.module.scss';

.button {
    border-radius: 30px;
    background-color: $color-primary;
    color: $color-contrast-2;
    text-decoration: none;
    cursor: pointer;
    transition: color .15s ease-in-out, 
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
    border: 0;
    display: block;

    &:hover {
        background-color: darken($color-primary, 5%);
    }

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba($color-primary, 0.5);
    }

    svg {
        transition: fill 0.3s ease-out;
        vertical-align: middle;
        margin-right: 8/16+rem;
        fill: $color-contrast-2
    }
}

.iconOnly {
    svg {
        margin-right: 0;
    }
}

.small {
    font-size: 12/16+rem;
    padding: 6px 15px;
    font-family: 'SuisseIntl';
}

.medium {
    font-size: 14/16+rem;
    padding: 10px 30px;
    font-family: 'SuisseIntl';
}

.large {
    font-size: 15/16+rem;
    padding: 15px 25px;
    font-family: 'SuisseIntl';
}

.faded {
    composes: button;
    background-color: rgba($color-contrast-4, 0.15%);
    font-size: 14/16+rem;
    color: $color-contrast-2;
}

.link {
    composes: button;
    color: $color-contrast-2;
    font-size: 14/16+rem;
    background: none;
    text-decoration: underline;
    &:hover {
        background: none;
        color: $color-contrast-1;
    }
    &:focus {
        box-shadow: none;
    }
}

.transparent {
    composes: button;
    background: transparent;

    &:hover {
        background-color: #242433;
    }

    &:active {
        background-color: $color-base-1;
    }

    &:focus {
        box-shadow: none;
    }
}

._startStop {
    background-color: $color-base-2;
    color: $color-contrast-4;

    svg {
        fill: $color-contrast-4;
    }

    &:hover  {
        color: $color-contrast-1;
        svg {
            fill: $color-contrast-1;
        }
    }

    &:focus {
        outline: 0;
        box-shadow: none;
    }
}

.start {
    composes: _startStop;
    &:hover  {
        background-color: $color-success;
    }
}

.stop {
    composes: _startStop;
    &:hover  {
        background-color: $color-error;
    }
}