@import '../../_settings/variables.module.scss';

.button {
    border-radius: 30px;
    background-color: $color-primary;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: color .15s ease-in-out, 
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
    padding: 10px 25px;;
    border: 0;
    display: block;

    &:hover {
        background-color: darken($color-primary, 5%);
    }

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba($color-primary, 0.5);
    }

    img {
        display: block;
    }
}

.medium {
    composes: button;
    font-size: 14/16+rem;
    padding: 10px 25px;
    font-family: 'SuisseIntl';
}

.faded {
    composes: button;
    background-color: #242433;
    font-size: 14/16+rem;
    color: $color-contrast-2;
}

.link {
    composes: button;
    color: $color-contrast-2;
    font-size: 14/16+rem;
    background: none;
    text-decoration: underline;
    &:hover {
        background: none;
        color: #fff;
    }
    &:focus {
        box-shadow: none;
    }
}

.transparent {
    composes: button;
    border: none;
    background: transparent;
    padding: 6px;
    margin-left: 3px;
    outline: 0;

    &:hover {
        background-color: #242433;
    }

    &:active {
        background-color: $color-base-1;
    }

    &:focus {
        box-shadow: none;
    }
}