# Sample config file for the "mirror" strategy

# specifies the exchange to use, currently we only support the "kraken", "ccxt-binance", "ccxt-poloniex", and "ccxt-bittrex" exchanges. You can easily add support for your own exchange and set this field once it has been integrated into the bot.
# You will need to set up CCXT to use the CCXT-based exchanges, see the "Using CCXT" section in the README for details.
EXCHANGE="kraken"

# the base asset as specified by the exchange.
EXCHANGE_BASE="XXLM"

# the quote asset as specified by the exchange.
EXCHANGE_QUOTE="ZUSD"

# some alternative setups for ccxt-based exchanges:
# be careful about using USD vs. USDT since some exchanges support only one, or both, or in some cases neither.
#EXCHANGE="ccxt-binance"
#EXCHANGE_BASE="XLM"
#EXCHANGE_QUOTE="USDT"
# poloniex
#EXCHANGE="ccxt-poloniex"
#EXCHANGE_BASE="XLM"
#EXCHANGE_QUOTE="USDT"
# bittrex
# bittrex does not have an XLM/USD market so this config lists XLM/BTC instead; you should NOT use this when trying to price an asset based on the XLM/USD price (unless you know what you are doing).
#EXCHANGE="ccxt-bittrex"
#EXCHANGE_BASE="XLM"
#EXCHANGE_QUOTE="BTC"

# maximum depth of order levels that we want to create on the orderbook on each side
ORDERBOOK_DEPTH=2

# number to divide bid volume by when placing orders so we can scale volume as needed
# use -1.0 if you want an empty side for the bids
BID_VOLUME_DIVIDE_BY=4.0
# number to divide ask volume by when placing orders so we can scale volume as needed
# use -1.0 if you want an empty side for the asks
ASK_VOLUME_DIVIDE_BY=5.0

# uncomment this to set a cap on the size of the order in base units. If the backing order after dividing is larger then the bot will cap it to this amount.
# this config param helps you control your risk so you do not place large orders if the backing exchange has one big order.
#MAX_ORDER_BASE_CAP=10000.0

# spread % we should maintain per level between the mirrored exchange and SDEX (0 < spread < 1.0). This moves the price away from the center price on SDEX so we can cover the position on the external exchange, i.e. if this value is > 0 then the spread you provide on SDEX will be more than the spread on the exchange you are mirroring.
# in this example the spread is 0.5%
PER_LEVEL_SPREAD=0.005

# minimum values for Kraken: https://support.kraken.com/hc/en-us/articles/205893708-What-is-the-minimum-order-size-volume-
# minimum order value for Binance: https://support.binance.com/hc/en-us/articles/115000594711-Trading-Rule
# (optional) number of decimal units to be used for price, which is specified in units of the quote asset, needed to place an order on the backing exchange
#PRICE_PRECISION_OVERRIDE=6
# (optional) number of decimal units to be used for volume, which is specified in units of the base asset, needed to place an order on the backing exchange
#VOLUME_PRECISION_OVERRIDE=1
# (optional) minimum volume of base units needed to place an order on the backing exchange
#MIN_BASE_VOLUME_OVERRIDE=30.0
# (optional) minimum volume of quote units needed to place an order on the backing exchange
#MIN_QUOTE_VOLUME_OVERRIDE=30.0

# set to true if you want the bot to offset your trades onto the backing exchange to realize the per_level_spread against each trade
# requires you to specify the EXCHANGE_API_KEYS below
#OFFSET_TRADES=true
# this is the account_id in the trades table of the database. This is required if you enable the OFFSET_TRADES field above.
# This account_id is for the backing exchange, which is different from the account_id specified in the trader.cfg file when using OFFSET_TRADES
# see sample_trader.cfg for more details on this field.
#BACKING_DB_OVERRIDE__ACCOUNT_ID="account1"
# uncomment if we want to override what is used as the last trade cursor when loading filled trades for the backing exchange
#BACKING_FILL_TRACKER_LAST_TRADE_CURSOR_OVERRIDE="1570415431000"

####################################################################################################
############################## ALL LISTS AND OBJECTS BELOW THIS LINE ###############################
####################################################################################################

# you can use multiple API keys to overcome rate limit concerns
#[[EXCHANGE_API_KEYS]]
#KEY=""
#SECRET=""

# if your exchange requires additional parameters, list them here with the the necessary values (only ccxt supported currently)
#[[EXCHANGE_PARAMS]]
#PARAM=""
#VALUE=""

# if your exchange requires additional headers, list them here with the the necessary values (only ccxt supported currently)
#[[EXCHANGE_HEADERS]]
#HEADER=""
#VALUE=""
