@import '../../_settings/variables.module.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    border-left: 1px solid $color-contrast-5;
    margin-top: 27/16+rem;
}

.title {
    color: $color-contrast-1;
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 0;
}