@import '../../_styles/variables.module.scss';


._pill {
    padding: 3px 7px 3px 6px;
    border-radius: 50px;
    font-family: $typeface-secondary;
    font-size: 10/16+rem;
    color: $color-contrast-1;
    display: inline-flex;
    align-items: center;
}

.warning {
    composes: _pill;
    background-color: $color-warning;
}

.error {
    composes: _pill;
    background-color: $color-danger;
}

.icon {
 margin-right: 5/16+rem;
}