@import '../../_settings/variables.module.scss';

.infoIcon {
    display: inline-block;
    background-color: rgba($color-contrast-4, 0.25);
    width: 13px;
    height: 13px;
    border-radius: 20px;
  
     img {
        padding: 0px 2px;
     }
  }