@import '../../_styles/variables.module.scss';

.box {
    min-height: 140px;
    background-color: $color-base-4;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin-top: 27/16+rem;
}

.heading {
    font-size: 1rem;
}

.formula {
    padding-top: 14/16+rem;
    font-size: 14/16+rem;
    font-family: $typeface-secondary;
    color: $color-contrast-2;
}

.highlight {
    color: $color-highlight-1;
}

.explain {
    padding-top: 1rem;
    font-size: 51/64+rem;
}