@import '../../_styles/variables.module.scss';

.loaderWrapper {
    display: inline-block;
    transform: translateY(-50%);
}

.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5/16+rem;
    width: 935px;
}