@import '../../styles/variables.module.scss';


.badge {
    padding: 3px 10px;
    display: inline-block;
    border-radius: 50px;
    font-family: $typeface-secondary;
    font-size: 10/16+rem;
}

.warning {
    composes: badge;
    background-color: $color-warning;
}

.error {
    composes: badge;
    background-color: $color-error;
}