@import '../../styles/variables.module.scss';

.wrapper {
  max-width: 920px;
  margin: 0 auto;
}

.header {
  background-color: $black95;
  border-bottom: 1px solid #000;
}

.logo-wrapper {
  
}

.logo {
  width: 75px;
}

.version {
  color: gray;
}

.iconsMenu {
  float: right;
}

.icon {
  width: 19px;
}